<div class="main">
  <div class="header">
    <div class="header_content" >
        <div class="title">
            Partidos
        </div>
        <div class="subtitle">
            Partidos disputados por los jugadores del circuito Oviedo World Tour.
        </div>
    </div>
  </div>
  <div class="list">
    <div class="list_content">
        <MatchCard style="margin-bottom: 10px;" />
        <MatchCard style="margin-bottom: 10px;" />
        <MatchCard style="margin-bottom: 10px;" />
        <MatchCard style="margin-bottom: 10px;" />
        <MatchCard style="margin-bottom: 10px;" />
        <MatchCard style="margin-bottom: 10px;" />
        <MatchCard style="margin-bottom: 10px;" />
    </div>
</div>
</div>